<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3302/Service1.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyService"
        contract="ServiceReference1.IMyService" name="BasicHttpBinding_IMyService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior" name="WcfServiceLibrary1.Service1">
        <endpoint address="basic" binding="basicHttpBinding"
        bindingConfiguration="" contract="WcfServiceLibrary1.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3302/Service1.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>